.Card {
  display: grid;
  place-items: center;
  padding: 1.5rem 2rem;
  background: #fefeff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.img-container {
  z-index: 1;
  position: relative;
}
.Card img {
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.quote {
  display: grid;
  place-items: center;
  padding: 0.15rem;
  position: absolute;
  top: 0;
  left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background: #c39052;
}
.circle {
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 10px;
  border-radius: 100%;
  background: #c39052;
  width: 150px;
  height: 150px;
}
.name {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: bold;
}
.position {
  text-transform: uppercase;
  color: #c39052;
}
.text {
  margin: 1rem 0;
  color: #04293a;
}
.review-icon {
  color: #c39052;
  cursor: pointer;
  padding: 1.5rem;
  font-size: 1.5rem;
}
.quote-right {
  padding: 0;
}
.button-container {
  display: flex;
  flex-direction: column;
}
.button-container button {
  padding: 0.5rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #d3eefc;
  border-radius: 0.25rem;
  color: #0264aa;
  outline: none;
  border: transparent;
}

.quote svg {
  font-size: 1rem;
  color: white;
}