.dashboard-item{
    font-size: 16px;
    font-weight: 700;
    color:#04293a;
    text-decoration: none;
    border-left: 2px solid transparent;
}
.dashboard-item-content{
    margin: 10px;
    display: flex;
    align-items: center;
}
.dashboard-nav-item{
    font-size: 1.25rem;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    line-height: 20px;
    padding: 5px;
    transition: all 0.3s ease;
    position:relative;
    margin-left: auto;
}

.dashboard-content .MuiCard-root{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#04293a !important;
    padding:30px;
    border-radius: 0.25rem;
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    background-color: #c39052;
}