body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-regular{
    color: #fff !important;
    background-color: #04293a !important; 
    transition: 0.28s ease-in-out !important;
    height:100% !important;
}

.btn-regular:hover{
    background-color: #c39052 !important;
}

 .title {
    border-bottom: 1px solid #52575a5d;
    font-size: 30px;
    margin-bottom: 50px !important;
    padding-bottom: 24px;
    position: relative;
    text-align: center;
}

.title:before {
    background-color: #c39052;
    content: "";
    height: 3px;
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: -2px;
}

.css-13cu6dy-MuiPaper-root-MuiTableContainer-root {
  max-width: 85vw !important;
}